<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    Divendres (dia 6, tornada)
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">Divendres</h1>
		
		<!-- aquí falta l'agenda i eks botons dels modals (activitats) -->
		
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('inici')">Inici</button>
		
		<!--
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Mostrar Pàgina C</button>
		-->	
	</div>
	
</jsv-content>
