<jsv-content>

	<div class="container">
	
		<h3 style="color:blue">Roma 2016</h3>
		<h5>INS Numància 4t ESO </h5>

		<p>En aquesta APP, creada pels alumnes de 4t d'ESO INFO, trobareu ...</p>

		<div class="row">
			
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('dilluns')">Dilluns</button>
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('dimarts')">Dimarts</button>
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('dimecres')">Dimecres</button>
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('dijous')">Dijous</button>
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('divendres')">Divendres</button>
			
		</div>
		
		<div class="row">
			<button class="col s12 m12 waves-effect waves-light btn white-text text-darken-2" onClick="$JSView.goToView('mapes')">Mapes Ciutats</button>
		</div>
			
	</div>
			
</jsv-content>
