<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
     Mapes
    <button-header-right></button-header-right>
</jsv-header>

<jsv-content>

    <jsv-list class="card-list">
    	
	<jsv-item class="item">	
           <h3>Roma</h3>
           <div onclick="$JSView.openImage(this, 'popupimage')" style="background-image: url('img/maparoma.jpg')" class="photo"></div>
	   <p>Clica per veure el 
	   <a href="img/maparoma.jpg">mapa de Roma AMPLIAT</a>
	   </p>
	</jsv-item>
	
	<jsv-item class="item">	
           <h3>Florència</h3>
           <div onclick="$JSView.openImage(this, 'popupimage')" style="background-image: url('img/mapaflorencia.jpg')" class="photo"></div>
	   <p>Clica per veure el 
	   <a href="img/mapaflorencia.jpg">mapa de Florència AMPLIAT</a>
	   </p>
	</jsv-item>
	
	<jsv-item class="item">	
           <h3>Venècia</h3>
           <div onclick="$JSView.openImage(this, 'popupimage')" style="background-image: url('img/mapavenecia.jpg')" class="photo"></div>
	   <p>Clica per veure el 
	   <a href="img/mapavenecia.jpg">mapa de Venècia AMPLIAT</a>
	   </p>
	</jsv-item>	
	
	
   </jsv-list>	
	
</jsv-content>

<jsv-image-popup id="popupimage">
    <div id="marc">
	    <jsv-header>
	        <button-header-left></button-header-left>
	        <button-header-right onclick="$JSView.closeImage('popupimage')">Tancar</button-header-right>
	    </jsv-header> 
    </div>		    
</jsv-image-popup>
